body {
    background-color: #260640;
}

h1[id=back] a{
  font-size: 70%;
  color: #4AE1F0;
}

h1[id=create]{
  font-size: 150%;
  color: #4AE1F0;
}
div form p input[type=text]{
    max-width: 400px;
    resize: both;
    position: relative;
    top: 0pt;
    left: 0pt;
}