{% extends 'listWorkers/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'listWorkers/css/create_new_worker.css'%}">
{% endblock %}


{% block content %}
    <h1 id="back" align="right"><a href="{% url 'list_workers' %}">Back</a> </h1>
    <h1 id="create" align="center">  Create new worker </h1>
    <div class="features" align="center">
        <form method="post">
            {% csrf_token %}
               <p>{{form.name}}</p><br>
               <p> {{form.surname}}</p><br>
            <spam> {{ error }} </spam>
            <button class="btn btn-success" type="submit"> Create </button>
        </form>
    </div>
{% endblock %}