{% extends 'listWorkers/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'listWorkers/css/create_new_task.css'%}">
{% endblock %}


{% block content %}
<h1><a href="{% url 'list_workers' %}">Back</a> </h1>
<h2>  Create new task </h2>
<div class="features">
<form method="post">
    {% csrf_token %}
       <p>{{form.description}}</p><br>
       <p> {{form.status}}</p><br>
        <p> {{form.categories}}</p><br>
    <p> {{form.date_of_completion}}</p><br>
    <spam> {{ error }} </spam>
    <button class="btn btn-success" type="submit"> Add </button>
</form>
</div>


{% endblock %}