{% extends 'listWorkers/base.html' %}
{% load static %}

{% block css_aditional %}
<link rel="stylesheet" href="{% static 'listWorkers/css/list_workers.css'%}">
{% endblock %}

{% block content %}
    <h1 align="right" id="create"><a href="{% url 'create_new_worker' %}">Create new worker</a> </h1>
    <div id="block">
        <h3 id="workers"> Workers: </h3>

        {% for item in db %}
            <p><a href="{% url 'task_list_url' item.id %}"><b>{{item.name}} {{item.surname}}</b></a></p>
        {% endfor %}
    </div>
{% endblock %}