h1[id=welcom]{
    color: #4AE1F0;
    position: relative;
    top: 200pt;
}

h1 a {
  display: inline-block;
  color: #F1EA08;
  position: relative;
  top: 200pt;
}



body {
    background-color: #260640;
}
